<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="htmlInserts/head"></div>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="container">
        
        <!--Header-->
        <div class="row m-4">
            <div id="header" class="col text-center nes-container is-rounded">
                <h1>Edit Superpower</h1>
            </div>
        </div>
        <!--End Header-->
        
        <!--nav-->
        <div th:replace="htmlInserts/navbar"></div>
        <!--End Nav-->
        
        <!--Insights-->
        <!--End Insights-->
        
        <!--Edit form-->
        <div class="row m-4 nes-container with-title">
            <p class="title">Edit Superpower</p>
            
            <div class="col-12 text-center m-3">
                <form action="editSuperpower" method="POST">
                    
                    <input type="hidden" name="id" th:value="${superpower.id}" id="superpowerId"/>
                    
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Name</label>
                        
                        <div class="col-9">
                            
                            <div th:if="${#fields.hasErrors('superpower.name')}">
                                <p th:each="error : ${#fields.errors('superpower.name')}" class="alert alert-danger" 
                                   th:text="${error}"></p>
                            </div>
                            
                            <input type="text" name="name" th:value="${superpower.name}" id="name" class="form-control"/>
                            
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        
                        <div class="col-9">
                            
                            <div th:if="${#fields.hasErrors('superpower.description')}">
                                <p th:each="error : ${#fields.errors('superpower.description')}" class="alert alert-danger" 
                                   th:text="${error}"></p>
                            </div>
                            
                            <textarea type="textArea" name="description" th:text="${superpower.description}" id="description" class="form-control"></textarea>
                            
                        </div>
                    </div>
                    
                    <div class="row m-4">
                        <div class="col text-center m-4">
                            <a href="/superpowers" class="btn nes-btn is-error btn-lg">Back</a>
                        </div>
                        
                        <button type="submit" class="col m-4 nes-btn is-success btn-lg">Edit Superhero</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <!--End Form-->
        
    </div>
    
    <!-- End main body -->
    
    <div th:replace="htmlInserts/endingScripts"></div>
  </body>
</html>
