<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="htmlInserts/head"></div>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="container">
        
        <!--Header-->
        <div class="row m-4">
            <div id="header" class="col text-center nes-container is-rounded">
                <h1>Location Details</h1>
            </div>
        </div>
        <!--End Header-->
        
        <!--nav-->
        <div th:replace="htmlInserts/navbar"></div>
        <!--End Nav-->
        
        <!--Details-->
        <div class="row m-4 nes-container is-rounded">
            
            <div class="col-6 text-right"><strong>ID</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.id}">display id</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Name</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.name}">display name</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Latitude</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.latitude}">display latitude</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Longitude</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.longitude}">display longitude</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Description</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.description}">display description</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Address Info</strong></div>
            <div class="col-6 text-left">
                <span th:text="${location.addressInfo}">display addressInfo</span>
            </div>
            <hr>
            
            <div class="col-6 text-right"><strong>Superheroes seen</strong></div>
            <div class="col-6 text-left">
                <span th:each="superhero : ${superheroes}">
                    <span th:text="${superhero.name}">display superheroName</span><br/>
                </span>
            </div>
            <hr>
        </div>  
        
        <!--back button-->
        <div class="row m-4">
            <div class="col text-center m-4">
                <a href="/locations" class="btn nes-btn is-error btn-lg">Back</a>
            </div>
        </div> 
    </div>
    
    <!-- End main body -->
    
    <div th:replace="htmlInserts/endingScripts"></div>
  </body>
</html>

