<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="htmlInserts/head"></div>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="container">
    <!--Header-->
        <div class="row m-4">
            <div id="header" class="col text-center nes-container is-rounded">
                <h1>Locations</h1>
            </div>
        </div>
    <!--End Header-->
    
        <!--nav-->
        <div th:replace="htmlInserts/navbar"></div>
        <!--End Nav-->
        
        <!--Add Button-->
        <div class="row m-4">
            <div class="col text-left m-2">
                <a href="addLocation" class="btn btn-primary btn-lg">Add Location</a>
            </div>
        </div>
        <!--End Button-->
        
        <!--Table-->
        <div class="row m-4">
            <div class="col nes-container is-rounded m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Location Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="location : ${locations}">
                            <td th:text="${location.id}">Location ID</td>
                            <td th:text="${location.name}">Location Name</td>
                            <td th:text="${location.latitude}">Latitude</td>
                            <td th:text="${location.longitude}">Longitude</td>
                            
                            <td><a href="#" th:href="@{/location/detailsLocation(id=${location.id})}">Details</a></td>
                            <td><a href="#" th:href="@{/location/editLocation(id=${location.id})}">Edit</a></td>
                            <td><a href="#" onclick="return confirm('Are you sure you wish to delete the Location?')" th:href="@{/location/deleteLocation(id=${location.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!--End table-->
    
        
    </div>
    <!-- End main body -->
    
    <div th:replace="htmlInserts/endingScripts"></div>
  </body>
</html>
