<!--Speech bubble text-->
<p class="nes-balloon from-left nes-pointer" id="balloon1">
        Hello citizen! With the increased number of Superhuman acts, we are asking you
        to help us catalogue the events! <br>
        Click to continue...
</p>
<p class="nes-balloon from-left nes-pointer" id="balloon2">
        Here, you will be able to add, edit, and delete
        Superheroes! Superpowers! Super Organizations! Locations! And last but not least,
        your very own Superhero Sightings! <br>
        Click to continue...
</p>
<p class="nes-balloon from-left nes-pointer" id="balloon3">
        Below you will find the last 10 sightings reported.
        We here at the Hero Education and Relationship Organization, HERO,
        are looking forward to seeing who you see! <br>
        Good luck! Click on me if you would like to go over that again!
</p>
