<div class="row m-4">
    <div class="col text-center m-2">
        <a href="/" class="nes-btn btn-lg is-secondary">Home</a>
    </div>
    <div class="col text-center m-2">
        <a href="/superheroes" class="nes-btn btn-lg is-secondary">Superheroes</a>
    </div>
    <div class="col text-center m-2">
        <a href="/superpowers" class="nes-btn btn-lg is-secondary">Superpowers</a>
    </div>
    <div class="col text-center m-2">
        <a href="/locations" class="nes-btn btn-lg is-secondary">Locations</a>
    </div>
    <div class="col text-center m-2">
        <a href="/organizations" class="nes-btn btn-lg is-secondary">Organizations</a>
    </div>
    <div class="col text-center m-2">
        <a href="/sightings" class="nes-btn btn-lg is-secondary">Sightings</a>
    </div>
</div>
